div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

a {
    text-align: center;
    text-decoration: none;
    padding: .5em;
    margin: 1em;
    color: rgb(153, 153, 153);
    border: 2px solid rgb(235, 243, 235);;
    border-radius: 5px;
    cursor: pointer;
}

a:hover {
    background-color: rgb(235, 243, 235);;
}

@media only screen and (max-width: 600px) {
    a {
        font-size: .75em;
    }
}