<form #newTransactionForm="ngForm" *ngIf="showAddTransaction" (ngSubmit)="addNewTransaction(newTransactionForm.value)">
    <div class="form-area">
        <label for="text">Transaction Date</label>
        <input type="date" name="date" [(ngModel)]="date" id="date">
    </div>
    <div class="form-area">
        <label for="text">Affected Account</label>
        <select name="account" [(ngModel)]="account" id="account">
            <option hidden [value]="">Select your Option</option>
            <option value="Checking">Checking</option>
            <option value="Credit">Credit</option>
            <option value="Savings">Savings</option>
            <option value="Investment">Investment</option>
        </select>

    </div>
    <div class="form-area">
        <label for="text">Transaction Description</label>
        <input type="text" name="text" [(ngModel)]="text" id="text" placeholder="Add Transaction Description">
    </div>
    <div class="form-area">
        <label for="text">Transaction Amount</label>
        <input type="number" name="amount" [(ngModel)]="amount" id="amount" placeholder="Add Transaction Amount">
    </div>
    <div class="form-area form-area-check">
        <label for="text">Is this a Credit?</label>
        <input type="checkbox" name="credit" [(ngModel)]="credit" id="credit" >
    </div>
    <input type="submit" value="Add Transaction" class="button button-block">
</form>
