.accounts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

h2, h3 {
    text-align: center;
    padding-bottom: 1em;
}


@media only screen and (max-width: 600px) {
    a {
        font-size: .75em;
    }
}