div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

p {
    text-align: center;
    text-decoration: none;
    color:  rgb(161, 160, 160);
    margin-bottom: 1.5em;
}


@media only screen and (max-width: 600px) {
    a {
        font-size: .75em;
    }
}