<h1>Detailed Stock Information</h1>
<form #detailedStockForm="ngForm" (ngSubmit)="displayStock(detailedStockForm.value)">
    <div class="stock-area">
        <input type="text" name="stock" [(ngModel)]="stock" id="text" placeholder="Enter Stock Ticker">
        <input type="submit" value="Submit" class="button button-block">
    </div>
</form>
<div class="stocks" *ngIf="showDetailedStock">
    <div class="stock">
        <h2>{{stocks.s}}</h2>
        <h2>Last Price: ${{stocks.lp}}</h2>
        <h2>Daily Change: {{stocks.cpd}}%</h2>
        <h2>Weekly Change: {{stocks.cpw}}%</h2>
        <h2>Monthly Change: {{stocks.cpm}}%</h2>
        <h2>Yearly Change: {{stocks.cpy}}%</h2>
    </div>
</div>