.stock {
    margin: .5em;
    margin-bottom: 1.5em;
    padding: 1.5em;
    border: 1px solid rgb(194, 193, 193);
    box-shadow: 5px 10px rgb(193, 193, 193);
    border-radius: 5px;
}

h2 {
    color: rgb(124, 124, 124);
}

h1 {
    color: rgb(94, 94, 94);
}