<h2>Detailed Stock Information</h2>
<form #detailedStockForm="ngForm" (ngSubmit)="displayStock(detailedStockForm.value)">
    <div class="stock-area">
        <input type="text" name="stock" [(ngModel)]="stock" id="text" placeholder="Enter Stock Ticker">
        <input type="submit" value="Submit" class="button button-block">
    </div>
</form>
<div class="stocks" *ngIf="showDetailedStock">
    <div class="stock">
        <h3>{{stocks.s}}</h3>
        <h3>Last Price: ${{stocks.lp}}</h3>
        <h3>Daily Change: {{stocks.cpd}}%</h3>
        <h3>Weekly Change: {{stocks.cpw}}%</h3>
        <h3>Monthly Change: {{stocks.cpm}}%</h3>
        <h3>Yearly Change: {{stocks.cpy}}%</h3>
    </div>
</div>