<div [ngClass]="{debit: !transaction?.credit, credit: transaction?.credit}" class="grid-container">
    <div class="grid-item">{{transaction?.date}}</div>
    <div class="grid-item">{{transaction?.account}}</div>
    <div class="grid-item">{{transaction?.description}}</div>
    <div class="grid-item right">
        ${{transaction?.amount}}
        <fa-icon (click)="confirm(transaction)" [ngStyle]="{'color': 'rgb(150, 150, 150)', 'padding-left': '1em'}" [icon]="faTimes"></fa-icon>
    </div>
</div>