.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-item {
    border: 1px solid black;
    text-align: center;
    padding: .2em;
}

.credit {
    background-color: rgb(195, 235, 195);
}

.debit {
    background-color: rgb(238, 187, 197);
}