div {
    background-color: rgb(230, 230, 230);
    display: flex;
    border: 1px rgb(175, 175, 175) solid;
}

a {
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    padding: .25em .75em;
    cursor: pointer;
}

a:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color:black;
}

.active {
    background-color: rgb(175, 175, 175);
    border-radius: 5px;
    color:white
}

@media only screen and (max-width: 600px) {
    a {
        font-size: .75em;
    }
}