div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

a {
    text-align: center;
    text-decoration: none;
    color:  rgb(211, 240, 211);
    background-color: rgb(194, 193, 193);
    box-shadow: 5px 5px rgb(211, 240, 211);
    padding: .5em;
    margin: 1em;
    border-radius: 5px;
    cursor: pointer;
}

.account-filter {
    margin-top: 1em;
    margin-bottom: 1em;
}

h2 {
    margin-top: 1em;
}

@media only screen and (max-width: 600px) {
    a {
        font-size: .75em;
    }
}