div {
    background-color: #e4e7ea;
    display: flex;
    border: 1px rgb(206, 206, 206) solid;
}

a {
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    color: rgb(124, 124, 124);
    padding: .25em .75em;
    cursor: pointer;
}

a:hover {
    background-color: #dcdcdd;
}

.active {
    background-color: #969697;
    border-radius: 5px;
    color:rgb(206, 206, 206)
}

@media only screen and (max-width: 600px) {
    a {
        font-size: .75em;
    }
}